<div class="page__row-layout">
    <div class="tasks-layout__header"></div>
    <div class="tasks-layout__tabs">
        <div class="tasks-layout__tabs-item">Новые</div>
        <div class="tasks-layout__tabs-item">В работе</div>
        <div class="tasks-layout__tabs-item">На рассмотрении</div>
        <div class="tasks-layout__tabs-item">Выполнены</div>
        <div class="tasks-layout__tabs-item">Отменены</div>
        <div class="tasks-layout__tabs-item">Черновики</div>
    </div>

    <div class="tasks-layout__options"></div>

    <div class="tasks-layout__table">
        <div class="tasks-layout__row"></div>
    </div>
</div>